@import "../../shared";

:host {
  float: left;

  img {
    width: $headerHeight;
    height: $headerHeight;
    padding: 15px;

    @media screen and (max-width: $widthNavCollapsed) {
      width: $headerHeightCollapsed;
      height: $headerHeightCollapsed;
      padding: 10px;
    }
  }

}
