@import "../../shared";

:host {
  float: left;

  ul {
    display: inline-block;
    list-style-type: none;
    font-size: 40px;
    padding: 15px 0 0 40px;

    @media screen and (max-width: $widthNavCollapsed) {
      padding: 10px 0 0 0;
      font-size: 35px;
    }

    @media screen and (max-width: $widthHideSocial) {
        padding-left: 20px;
    }
  }
}
