<section id="aboutSection" class="about-section">

  <div class="devise">
    <h1>Что учить IT специалисту?</h1>

    <p class="devise-phrase">Десятки языков, сотни фреймворков, тысячи библиотек ...</p>

    <p>Сравните <span class="devise-key">доход</span> специалистов различных направлений</p>
    <p>Определите <span class="devise-key">востребованность</span> технологии в Вашем городе</p>
  </div>

  <div class="about-image">
    <img src="images/about-img.png" alt="Что учить IT специалисту?" />
  </div>
</section>
