<header>

  <div class="logo">
    <img src="assets/logo90x90.png" alt="job.bocharovf.ru">
  </div>

  <nav class="navigation">
    <ul>
      <li class="mobile-hidden">
        <span class="nav-link">О проекте</span>
      </li>
      <li class="mobile-hidden">
        <span class="nav-link">Поиск</span>
      </li>

      <li class="desktop-hidden">
        <span class="glyphicon glyphicon-education nav-icon">
        </span>
      </li>
      <li class="desktop-hidden">
        <span class="glyphicon glyphicon-search nav-icon">
        </span>
      </li>
    </ul>
  </nav>

  <div class="social mobile-hidden">
    <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_linkedin_large' displayText='LinkedIn'></span>
    <span class='st_googleplus_large' displayText='Google +'></span>
    <span class='st_vkontakte_large' displayText='Vkontakte'></span>
  </div>

  <div class="social desktop-hidden">
    <span class='st_facebook' displayText=''></span>
    <span class='st_twitter' displayText=''></span>
    <span class='st_linkedin' displayText=''></span>
    <span class='st_googleplus' displayText=''></span>
    <span class='st_vkontakte' displayText=''></span>
  </div>

</header>
