<div
  class="search-filter-expanded-content"
  ng-class="filter.isExpanded ? '' : 'search-filter-collapsed'">

  <div class="filter-container">
    <simple-filter
      header="График"
      options="filter.valueTypes"
      selectedOption="filter.selectedValueType"
      max=10
      event-name="VALUE_TYPE_CHANGED"
      display-field="name"
      value-field="id">
    </simple-filter>
  </div>

  <div class="filter-container">
    <simple-filter
      header="Валюта"
      options="filter.currencies"
      selectedOption="filter.selectedCurrency"
      max=10
      event-name="CURRENCY_CHANGED"
      display-field="name"
      value-field="code">
    </simple-filter>
  </div>

  <div class="filter-container">
    <simple-filter
      header="Опыт работы"
      options="filter.experiences"
      selectedOption="filter.selectedExperience"
      max=10
      event-name="EXPERIENCE_CHANGED"
      display-field="name"
      value-field="id"
      allow-empty="true">
    </simple-filter>
  </div>

  <div class="filter-container">
    <hierarchy-filter
      header="Регион"
      hierarchy="filter.areas"
      max=10
      event-name="REGION_CHANGED"
      always-on-top="filter.specialAreas">
    </hierarchy-filter>
  </div>

</div>
