@import "./shared.scss";

body {
  padding-top: $headerHeight;
  @media screen and (max-width: $widthNavCollapsed) {
    padding-top: $headerHeightCollapsed;
  }
}


.desktop-hidden-inline {
  display: none;
}

.desktop-hidden {
  display: none;
}

@media screen and (max-width: $widthNavCollapsed) {

  .mobile-hidden {
    display: none;
  }

  .desktop-hidden {
    display: inherit;
  }

  .desktop-hidden-inline {
    display: inline;
  }

}

.btn-xlg {
  padding: 8px 20px;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.3333333;
  border-radius: 8px;
  margin: 10px auto;
  display: block;
}

/*.input-group-super > .form-control {
  height: 50px;
  padding: 20px 26px;
  font-size: 26px;
  line-height: 1.3333333;
  border-radius: 8px;
}*/

/*.input-group-super > .input-group-btn {
  height: 86px;
  padding: 20px 26px;
  font-size: 26px;
  line-height: 1.3333333;
  border-radius: 8px;
}*/
