@import "../../shared";

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $headerHeight;
  background-color: $color-header-bg;
  color: $color-text-header;
  overflow: hidden;
  z-index: 100;

  @media screen and (max-width: $widthNavCollapsed) {
    height: $headerHeightCollapsed;
  }
}


