<header>

  <menu-logo [src]="'assets/logo90x90.png'" [alt]="'job.bocharovf.ru'"></menu-logo>

  <nav menuNavigation>
    <li menuItem [text]="'О проекте'" [icon]="'glyphicon-education'"></li>
    <li menuItem [text]="'Поиск'" [icon]="'glyphicon-search'"></li>
  </nav>

  <menu-social
    [publisher]="'fb8811d3-6073-4a6f-a086-17c426dc326f'"
    [publisherGA]="'UA-46635392-1'">

    <div class="mobile-hidden">
      <menu-social-item [displayText]="'Facebook'" [socialNetwork]="'facebook'" [isLarge]="true"></menu-social-item>
      <menu-social-item [displayText]="'Tweet'" [socialNetwork]="'twitter'" [isLarge]="true"></menu-social-item>
      <menu-social-item [displayText]="'LinkedIn'" [socialNetwork]="'linkedin'" [isLarge]="true" ></menu-social-item>
      <menu-social-item [displayText]="'Google +'" [socialNetwork]="'googleplus'" [isLarge]="true" ></menu-social-item>
      <menu-social-item [displayText]="'Vkontakte'" [socialNetwork]="'vkontakte'" [isLarge]="true"></menu-social-item>
    </div>

    <div class="desktop-hidden">
      <menu-social-item [socialNetwork]="'facebook'"></menu-social-item>
      <menu-social-item [socialNetwork]="'twitter'"></menu-social-item>
      <menu-social-item [socialNetwork]="'linkedin'" ></menu-social-item>
      <menu-social-item [socialNetwork]="'googleplus'" ></menu-social-item>
      <menu-social-item [socialNetwork]="'vkontakte'"></menu-social-item>
    </div>
  </menu-social>

</header>
