<section id="searchSection" class="search-section">

  <div style="display: flex; justify-content: center; margin: 40px 0 0 0;">

    <div style="display: flex; width: 50%;">
      <search-input></search-input>
    </div>

    <div style="display: flex;">
      <!--<filter-autocomplete></filter-autocomplete>
      <filter-dropdown></filter-dropdown>-->
    </div>

  </div>


  <!--<filter></filter>

  <progress></progress>

  <not-found></not-found>

  <tag-cloud></tag-cloud>

  <charts></charts>-->

</section>
