<section id="searchSection" class="search-section">

  <div style="display: flex; flex-wrap: wrap; justify-content: center; margin: 40px 0 0 0; width: 100%">

    <div style="width: 50%;">

      <search-input
        style="float: left; clear: right"
        [words]="['robin', 'robust', 'rikon']"
        (search)="onSearch($event)">
      </search-input>

      <search-example
        style="float: left;"
        (onSearch)="onSearch($event)"
        [example]="'java, c#, python'">
      </search-example>

    </div>

    <div style="width: 100%; margin: 15px 0 0 0"></div>

      <filter-autocomplete
        style="width: 200px; margin: 15px 100px 0 0"
        [title]="'Город'"
        [items]="areas | async"
        [(selected)]="selectedArea"
        (selectedChange)="onAreaSelected($event)"
      >
      </filter-autocomplete>

      <filter-dropdown
        style="width: 200px; margin: 15px 0 0 0"
        [items]="experiences | async"
        [(selected)]="selectedExperience"
        [title]="'Опыт'"
        [defaultItem]="'Любой'">
      </filter-dropdown>

    <div style="width: 100%; margin: 50px 0 0 0"></div>

    <search-queries
      (removeQuery)="onRemoveQuery($event)"
      [queries]="results | async">
    </search-queries>

    <div style="width: 100%; margin: 15px 0 0 0"></div>

    <div resultTagCloud
         *ngIf="!(inProgress | async) && !(hasResults | async)"
         [words]="cloudTags"
         [height]="300"
         (tagClick)="onSearch($event.text)"></div>

    <result-table-view
      style="max-width: 500px; margin: 15px 0 0 0"
      *ngIf="hasResults | async"
      [results]="results | async">
    </result-table-view>

    <result-progress
      style="width: 100%"
      *ngIf="inProgress | async"
      [displayText] = "'Выполняется запрос...'">
    </result-progress>

    <result-error
      [error]="error | async"
      (dismiss)="onDismiss()">
    </result-error>

  </div>
  <!--<not-found></not-found>
  <charts></charts>-->

</section>
