:host {
  width: 100%;

  div.table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    table {
      width: 100%;
      font-size: 18px;
      text-align: right;
    }
  }
}


